* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Ligth.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

.contenedor {
  display: grid;
  position: relative;
  padding-bottom: 35px;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(/img/fondo.jpg);
  background-size: cover;
  grid-template-rows: auto 1fr auto;
  row-gap: 15px;
}

.header {
  display: flex;
  background-color: black;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 50px;
  padding: 10px;
  position: sticky;
  top: 0;
}

.header__logo {
  display: flex;
  color: white;
  align-items: center;
}
.header__logo img {
  height: 50px;
  width: 50px;
}

.header__nav {
  display: flex;
  top: 0;
  list-style: none;
}

.header__nav a {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  color: white;
  font-weight: 800;
  padding-right: 15px;
  transition: all 300ms;
}
.header__nav a:hover {
  color: crimson;
  transform: scale(1.15);
}

.main {
  display: grid;
  width: 100%;
  grid-template-rows: auto 3fr auto;
  row-gap: 5px;
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
h1 {
  color: white;
}
h2 {
  color: white;
}

.main__media {
  display: grid;
  padding: 10px;

}

.main__media__vid {
  display: grid;
  margin-top: 0;
  margin-bottom: 0;
  justify-items: center;
  align-items: center;
}

.main__media__iconos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: top;
  margin-top: 0;
  transition: all 400ms;
}

.main__media__iconos:hover{
  transform: scale(0.5);
}

p {
  color: white;
  padding: 15px;
}

.btn__whatsapp {
  position: fixed;
  width: 70px;
  height: 70px;
  right: 15px;
  bottom: 35px;
  text-align: center;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 30px;
  background-color: black;
}

.footer__botton a {
  text-decoration: none;
  justify-content: space-between;
  color: white;
  padding-right: 15px;
  transition: all 300ms;
  font-weight: 800;
  transition: all 400ms;
}

.footer__botton a:hover {
  color: crimson;
  transform: scale(1.5);
}
